.home-row {
    display: flex;
    flex-direction: row;
    border-top: 3px solid black;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #EDCDB7;
    z-index:3;
}

.home-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10vw;
}

.add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sessions-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10vw;
}

.profile-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10vw;
}

.home-row p {
    display: none;
}

@media only screen and (min-width: 1500px) {
    .home-row {
        top: 0;
        left: 0;
        height: 100%;
        bottom: auto;
        flex-direction: column;
        width: 150px;
        gap: 30px;
        align-items: flex-start;
        border-top: none;
        border-right: 3px solid black;
    }

    .home-row p {
        display: flex;
        margin: 8px;
    }

    .home-button {
        margin-right: 0;
        margin-left: 20px;
    }

    .add-button {
        margin-left: 20px;
    }

    .sessions-button {
        margin-left: 20px;
    }

    .profile-button {
        margin-left: 20px;
    }
}

