@media only screen and (min-width: 600px) {
    .climbs {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .climbs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
    }
}

@media only screen and (min-width: 992px) {
    .climbs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;
    }
}

@media only screen and (min-width: 1200px) {
    .climbs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: min-content;
    }
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #B7D7ED;
}

.climbs {
    position: fixed;
    top: 7%;
    width: fit-content;
    height: 82vh;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: -1;
    padding: 8px;
}

.log-button.hidden {
    display: none;
}

.log-button {
    position: fixed;
    bottom: 80px;
    padding: 16px 24px;
    border-radius: 32px;
    font-weight: 600;
    font-size: 20px;

    background-color: #EDCDB7;
    border: 2px black solid;
}
