.home-row{
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.home-button{
    margin-right: 4vw;

}
.add-button{

}
.profile-button{
    margin-left: 4vw;
}