.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.climbs{
    position: fixed;
    bottom: 40px;
    width: fit-content;
    height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;
}