
.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.completed-climbs {
    display: flex;
    border: 3px solid black;
    background-color: #EDCDB7;
    padding: 4px;
    width: fit-content;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    border: 3px solid black;
    background-color: #EDCDB7;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px;


}

.user-info img {
    border-radius: 50%;
}

.logged-climbs {
    width: fit-content;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: -1;
    margin-bottom: 64px;
}

@media only screen and (min-width: 600px) {
    .climbs-profile {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}

@media only screen and (min-width: 768px) {
    .climbs-profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .climbs-profile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .climbs-profile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 992px) {}
