.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.completed-climbs {
    display: flex;
    border: 3px solid black;
    background-color: #EDCDB7;
    padding: 4px;
}

.user-info {
    border: 3px solid black;
    background-color: #EDCDB7;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px;
}

.user-info img {
    border-radius: 50%;
}

.logged-climbs {
    top: 34%;
    position: fixed;
    width: fit-content;
    height: 78vh;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: -1;
}

@media only screen and (max-width: 380px) {
    .climbs-profile {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }

    .logged-climbs {
        height: 54vh;
    }
}

@media only screen and (min-width: 381px) {
    .climbs-profile {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }

    .logged-climbs {
        top: 26.5%;
        height: 64vh;
    }
}

@media only screen and (min-width: 600px) {
    .climbs-profile {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}

@media only screen and (min-width: 768px) {
    .climbs-profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .climbs-profile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .climbs-profile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
