.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 16px;
    padding: 8px 16px;
    gap: 16px;
    width: fit-content;
    height: fit-content;
}
.search-bar input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 4px 0;
}
