*{
    font-size: 16px;
}
.search-bar{
    position:fixed;
    top:0;
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 16px;
    padding: 4px 8px;
    gap: 16px;
    width: fit-content;
    height: fit-content;
}
.search-bar input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
}
.search-bar form{
    display: flex;
    flex: 1;
}
